@if (adminPanel) {
<div style="display: flex; justify-content: flex-end; align-items: center; padding: 24px;">
    <button mat-flat-button color="primary" (click)="openCreatePopup()"
        style="display: flex; align-items: center; gap: 8px;">
        <mat-icon>add</mat-icon>
        Agregar curso
    </button>
</div>
}
<mat-grid-list cols="4" rowHeight="1:1" gutterSize="16px">
    @for (course of courses(); track $index) {
    <mat-grid-tile>
        <div style="width: 90%; height: 90%; margin: auto; display: flex; flex-direction: column;">
            <mat-card style="height: 100%; display: flex; flex-direction: column;">
                <mat-card-header>
                    <mat-card-title>{{ course.name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ course.description }}</p>
                    <p><strong>Duration:</strong> {{ course.duration }}</p>
                    <p><strong>Level:</strong> {{ course.level }}</p>
                    <p><strong>Price:</strong> {{ course.price | currency:'USD':'symbol':'1.0' }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <br>
                    @if (adminPanel) {
                    <button mat-fab aria-label="Editar curso" style="margin-right: 12px;"
                        (click)="openEditPopup(course)">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-fab aria-label="Example icon button with a delete icon"
                        (click)="deleteCourse(course.id!)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    }
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-grid-tile>
    } @empty {
    <mat-card>
        <mat-card-content>
            <p>No courses available.</p>
        </mat-card-content>
    </mat-card>
    }
</mat-grid-list>


<app-course-popup
  [visible]="popupVisible"
  [course]="selectedCourse"
  [type]="type"
  (save)="onSaveCourse($event)"
  (close)="popupVisible = false">
</app-course-popup>