.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.fullwidth {
  width: 100%;
}

.dog-image{
  padding-top: 5pt;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10%;
}