<nav class="navbar bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: aliceblue;" routerLink="/">Academia</a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a mat-button="filled" style="background-color: white;" routerLink="admin-panel">Panel administrativo</a>
        </li>
      </ul>
  </div>
</nav>
<br>
<div>
  <router-outlet></router-outlet>
</div>
<br>
<footer class="navbar bg-primary" style="align-content: center;">
  <span style="color: white; align-items: center;">2025 ACADEMIA DE CURSOS</span>
</footer>